@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&family=Roboto:wght@700&display=swap');

:root {
    min-height: 100vh;
    width:100%;
    margin: 0px;
    background: repeating-linear-gradient(var(--grey-100), var(--grey-200), var(--grey-100));
    /* Color Palette */
    /* Primary -- Burnt Orange */
    --primary-400: #A14409;
    --primary-500: #BC581A;
    --primary-600: #D76118;

    /* Secondary -- USAFA Blue */
    --secondary-400: #003D73;
    --secondary-500: #00529B;
    --secondary-600: #006BCB;

    /* Tertiary -- Yellow Green */
    --tertiary-400: #7EAA17;
    --tertiary-500: #95C623;
    --tertiary-600: #A9DF2D;

    /* Greyscale */
    --grey-100: #090C02;
    --grey-200: #30332A;
    --grey-300: #555751;
    --grey-400: #757771;
    --grey-500: #949691;
    --grey-600: #BABBB8;
    --grey-700: #DFE0DF;
    --grey-800: #FFFFFF;

}

body {
    margin: 0;
    background: var(--grey-700);
    font-family: 'Lora', serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--grey-200);
}

img{
    max-width: 100%;
}

#hero {
    background: #000;
    position: relative;
}

#hero h2{
    margin-bottom: 0;
}

#hero-top h1{
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--grey-800);
}

.content-style-1{
    padding-top: 30px;
}

.content-style-1, .content-style-1 h3 {
    color: var(--grey-200);
}

.content-style-1 h3{
    text-align: center;
}

.content-style-2{
    padding-top: 30px;
}

.content-style-2, .content-style-2 h3 {
    color: var(--grey-200);
    background: var(--grey-700);
}

.content-style-2 h3{
    text-align: center;
}

.text-content {
    padding: 0 30px;
}

.image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-content img {
    width: 100%;
}

#footer{
    padding-top: 30px;
}

#footer, #footer h3 {
    background-color: var(--grey-100);
    color: var(--grey-500);
    text-align: center;
}

#footer h3{
    padding: 15px 0 0;
}

#footer-content {
    text-align: left;
    padding: 0rem 0.50rem;
}

#footer-content #col-1{
    text-align: center;
}

h1 {
    font-size: 2.250rem;
    margin: 0rem;
    padding: 0.953rem 0rem;
    text-align: center;
}

h2 {
    font-size: 1.688rem;
    margin: 0 0 15px 0;
    text-align: center;
}

h3 {
    font-size: 1.312rem;
    margin-top: 0;
}

#hero-image img {
    width: 100%;
}

@media (max-width: 23.8125rem) {
    body {
        margin: 0;
    }
}

@media (min-width: 28.125rem) {
    h1 {
        font-size: 2.938rem;
        margin: 0rem;
        padding: 0.7345rem 0rem;
    }
    
    h2 {
        font-size: 2.250rem;
    }
    
    h3 {
        font-size: 1.688rem;
        margin: 0rem 0rem 1.2rem;
    }    
}

@media (min-width: 50.375rem) {
    #hero-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 8.33%;
    }
    
    h1 {
        text-align: left;
        flex-basis: 34%;
    }

    #hero-image {
        flex-basis: 66%;
        max-width: 806px;
    }
}

@media (min-width: 59.125rem) {
    h1 {
        font-size: 3.812rem;
        margin: 0rem;
        padding: 0.953rem 0rem;
    }
    
    h2 {
        font-size: 2.938rem;
    }
    
    h3 {
        font-size: 2.250rem;
        margin: 0rem 0rem 1.5rem;
    }

    .content-style-1 .content {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .content-style-1 .content.row-reverse {
        align-items: center;
    }

    .content-style-1 .content.row-reverse .image-content {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .content > * {
        flex-basis: 50%;
    }
}

.bios {
    text-align: center;
}

.single-bios{
    padding: 0 30px;
}

.info-section{
    background-color: var(--grey-400);
    color: #fff;
    padding: 15px 0;
}

@media (min-width: 1025px) {
    .bios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 30px;
        gap: 0 30px;
    }

    #hero h2{
        position: absolute;
        width: 100%;
        bottom: 40px;
    }

    .content-style-1{
        padding-top: 0px;
    }

    .typographic-paragraph{
        font-size: 17px;
    }
}

@media (min-width: 1450px) {
    .bios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 30px;
        gap: 0 30px;
    }
}
