.chat-input {
    width: 359px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.chat-input textarea {
    border: 1px solid var(--grey-700);
    resize: none;
    padding: 0.25rem;
    color: var(--grey-100);
    font-size: 1.0rem;
}

.send-button-container {
    background-color: var(--grey-800);
    padding: 15px;
}

.send-button-container button {
    background-color: var(--grey-800);
    border: 0;
    margin: 0;
    padding: 0;
}

.send-button-container button:hover {
    cursor: pointer;
}