.chat-input {
    max-width: 359px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.chat-input textarea {
    border-color: var(--grey-700);
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    resize: none;
    padding: 0.25rem;
    color: var(--grey-100);
    font-size: 1.0rem;
    max-width: calc(100% - 64px);
}

.send-button-container {
    background-color: var(--grey-800);
    padding: 15px;
    border-color: var(--grey-700);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.send-button-container button {
    background-color: var(--grey-800);
    border: 0;
    margin: 0;
    padding: 0;
}

.send-button-container button:hover {
    cursor: pointer;
}